<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xrp09.demo.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.xrp09.demo.pojo.User" >
    <id column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="love" property="love" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findAll" resultType="com.xrp09.demo.pojo.User" >
        select * from USER
    </select>
  <select id="findname" resultType="com.xrp09.demo.pojo.User" >
        select * from USER  where name = #{name}
    </select>
  <insert  id="insertuser" parameterType="com.xrp09.demo.pojo.User">
        INSERT INTO user VALUES(#{userid},#{name},#{age},#{love},#{desc})
    </insert>
  <delete id="deleteuser" parameterType="java.lang.String">
        delete from USER  where name = #{name}
    </delete>
</mapper>